<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-person-heading">Create or edit a Person</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_names">Names</label>
                    <input type="text" class="form-control" name="names" id="field_names"
                           formControlName="names"/>
                    <div *ngIf="editForm.get('names').invalid && (editForm.get('names').dirty || editForm.get('names').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('names').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                    <div *ngIf="editForm.get('lastName').invalid && (editForm.get('lastName').dirty || editForm.get('lastName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastName').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateOfBirth">Date Of Birth</label>
                    <div class="input-group">
                        <input id="field_dateOfBirth" type="text" class="form-control" name="dateOfBirth" ngbDatepicker  #dateOfBirthDp="ngbDatepicker" formControlName="dateOfBirth"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateOfBirthDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dateOfBirth').invalid && (editForm.get('dateOfBirth').dirty || editForm.get('dateOfBirth').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateOfBirth').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_addressPhysical">Address Physical</label>
                    <input type="text" class="form-control" name="addressPhysical" id="field_addressPhysical"
                           formControlName="addressPhysical"/>
                    <div *ngIf="editForm.get('addressPhysical').invalid && (editForm.get('addressPhysical').dirty || editForm.get('addressPhysical').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('addressPhysical').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_addressPostal">Address Postal</label>
                    <input type="text" class="form-control" name="addressPostal" id="field_addressPostal"
                           formControlName="addressPostal"/>
                    <div *ngIf="editForm.get('addressPostal').invalid && (editForm.get('addressPostal').dirty || editForm.get('addressPostal').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('addressPostal').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_telephoneNumber">Telephone Number</label>
                    <input type="text" class="form-control" name="telephoneNumber" id="field_telephoneNumber"
                           formControlName="telephoneNumber"/>
                    <div *ngIf="editForm.get('telephoneNumber').invalid && (editForm.get('telephoneNumber').dirty || editForm.get('telephoneNumber').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telephoneNumber').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
