<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-employee-heading">Create or edit a Employee</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_names">Names</label>
                    <input type="text" class="form-control" name="names" id="field_names"
                           formControlName="names"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateOfBirth">Date Of Birth</label>
                    <div class="input-group">
                        <input id="field_dateOfBirth" type="text" class="form-control" name="dateOfBirth" ngbDatepicker  #dateOfBirthDp="ngbDatepicker" formControlName="dateOfBirth"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateOfBirthDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_addressPhysical">Address Physical</label>
                    <input type="text" class="form-control" name="addressPhysical" id="field_addressPhysical"
                           formControlName="addressPhysical"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_addressPostal">Address Postal</label>
                    <input type="text" class="form-control" name="addressPostal" id="field_addressPostal"
                           formControlName="addressPostal"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_telephoneNumber">Telephone Number</label>
                    <input type="text" class="form-control" name="telephoneNumber" id="field_telephoneNumber"
                           formControlName="telephoneNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_employeeNumber">Employee Number</label>
                    <input type="text" class="form-control" name="employeeNumber" id="field_employeeNumber"
                           formControlName="employeeNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_company">Company</label>
                    <select class="form-control" id="field_company" name="company" formControlName="company">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="companyOption.id === editForm.get('company').value?.id ? editForm.get('company').value : companyOption" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
